<!DOCTYPE html>
<html lang="en">

<partial name="_LayoutPartial/PartialHeader"></partial>

<body>
    <partial name="_LayoutPartial/PartialNavbar"></partial>

    @RenderBody();


    <partial name="_LayoutPartial/PartialFooter"></partial>
    

    <partial name="_LayoutPartial/PartialScript"></partial>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    window.addEventListener('beforeunload', function (event) {
        // Tarayıcı kapatıldığında veya sayfa yenilendiğinde tetiklenecek kod
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Auth/LogoutOnPageClose', false);  // false: Senkron olarak isteği gönder
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send();

        // Sunucudan dönen veriyi kontrol etmek
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
                // İşlem başarılı
            }
        }

        // Kullanıcıya onay mesajı göstermek için geri dönüş değeri
        var confirmationMessage = 'Sayfayı kapatmak istediğinizden emin misiniz?';
        (event || window.event).returnValue = confirmationMessage; // Standartlar dışı: Internet Explorer
        return confirmationMessage; // Standart: Diğer tarayıcılar
    });
</script>