<!DOCTYPE html>
<html lang="en">

<partial name="_LayoutPartial/PartialHeader"></partial>

<body>
    <partial name="_LayoutPartial/PartialNavbar"></partial>

    @RenderBody();


    <partial name="_LayoutPartial/PartialFooter"></partial>
    

    <partial name="_LayoutPartial/PartialScript"></partial>

</body>
</html>