 <!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" asp-area=" " asp-controller="Announcement" asp-action="Index"><h2>Meme Kanseri BLOG<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" asp-area=" " asp-controller="HomePage" asp-action="Index">
                            Ana Sayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-controller="About" asp-action="Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-controller="Article" asp-action="Index">Bloglar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-controller="New" asp-action="Index">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-controller="VideoBlog" asp-action="Index">Videolar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-controller="Contact" asp-action="Index">İletişim</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Auth" asp-area=" ">
                            <i style="font-size:22px;" class="fa-brands fa fa-sign-in"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Register" asp-controller="Auth" asp-area=" ">
                            <i style="font-size:22px;" class="fa-brands fa fa-user-plus"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-action="Logout" asp-controller="Auth">
                            <i style="font-size:22px;" class="fa-brands fa fa-sign-out"></i>
                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </nav>
</header>
<div style="height:50px;"></div>