 <!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>MEME KANSERİ BLOG<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            Ana Sayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Bloglar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post-details.html">Haberler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post-details.html">Videolar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Register" asp-controller="Auth" asp-area=" ">
                            <i style="font-size:22px;" class="fa-brands fa fa-user-plus"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Auth" asp-area=" ">
                            <i style="font-size:22px;" class="fa-brands fa fa-sign-in"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area=" " asp-action="Logout" asp-controller="Auth">
                            <i style="font-size:22px;" class="fa-brands fa fa-sign-out"></i>
                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </nav>
</header>
<div style="height:150px;"></div>