<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">

                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>
                        &copy; copyright Enes Fevzi Çiçekli tarafından geliştirilmiştir. @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>