
<!DOCTYPE html>

<!-- beautify ignore:start -->
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

<partial name="_AdminLayoutPartial/PartialHeader"></partial>
@* <partial name="Views/_AdminLayoutPartial/PartialHeader"></partial> *@  @*Bu kullanımda viewvs shred içinde olmalı *@

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                <partial name="_AdminLayoutPartial/PartialAppBrandDemo"></partial>

                <div class="menu-inner-shadow"></div>

                <partial name="_AdminLayoutPartial/PartialSidebar"></partial>

            </aside>
            <div class="layout-page">

                <partial name="_AdminLayoutPartial/PartialNavbar"></partial>

                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">

                        @RenderBody()
                    </div>

                    <partial name="_AdminLayoutPartial/PartialFooter"></partial>

                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <partial name="_AdminLayoutPartial/PartialScript"></partial>
    @await RenderSectionAsync("Scripts",false);
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>

<script>
    window.addEventListener('beforeunload', function (event) {
        // Tarayıcı kapatıldığında veya sayfa yenilendiğinde tetiklenecek kod
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Auth/LogoutOnPageClose', false);  // false: Senkron olarak isteği gönder
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send();

        // Sunucudan dönen veriyi kontrol etmek
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
                // İşlem başarılı
            }
        }

        // Kullanıcıya onay mesajı göstermek için geri dönüş değeri
        var confirmationMessage = 'Sayfayı kapatmak istediğinizden emin misiniz?';
        (event || window.event).returnValue = confirmationMessage; // Standartlar dışı: Internet Explorer
        return confirmationMessage; // Standart: Diğer tarayıcılar
    });
</script>
